# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
lib/
libs/
dist/
build/
egg-info/
*.egg-info/

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe

# Miscellaneous
*.bak
*.swp
*.tmp
*.tmp.*
*~
*.DS_Store

# Data folder
data/
